.container {
    font-family: "Sora", Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em 2em;

    h1 {
        position: relative;

        &::after {
            display: block;
            content: "";
            width: 35px;
            height: 5px;
            background-color: #CD9B1D;
        }
    }

    .main {
        text-align: center;
        padding: 2em 0;

        img {
            max-width: 300px;
            width: 100%;
        }

        h2 {
            margin-bottom: 0;
        }

        .subtext {}

        .disclaimer {
            font-size: 0.7em;
            margin-top: 3em;
        }
    }
}