.container > div {
    height: 100%;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container code {
    max-width: 100%;
    padding: 5px 20px;
}

@media screen and (max-width: 768px) {
    .container code {
        overflow-x: scroll;
    }
}
